

body {
    background-color: #19c3fb;
    color: white;
}

.top-container, .btm-container {
    background-color: #69d9ff;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    margin-top: 10px;
    border-radius: 60px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.wrapper-container {
    margin-top: 200px;
}

.day {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.btm-container {
    display: flex;
    justify-content: center;
}

.days-of-week {
    display: flex;
}

.day h3 {
    text-align: center;
    margin-top: 0;
    font-size: 25px;

}