* {
  font-family: Arial, sans-serif;
  font-weight: 600px;
}

body {
  background-color: #19c3fb;
  color: white;
}

.top-container {
  background-color: #69d9ff;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: auto;
  margin-top: 10px;
  border-radius: 60px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper-container {
  margin-top: 200px;
}

.day {
  width: 200px;
  height: 300px;
  background-color: #69d9ff;
  border-radius: 60px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
}

.btm-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.day p {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 0px;
}

.temp-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.temp {
  font-size: 150px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.weather-title-info {
  text-align: center;
}

.weather-desc {
  font-size: 60px;
  margin-bottom: 0px;
}

.location {
  font-size: 35px;
  color: rgb(230, 230, 230);
  margin-bottom: 20px;
  margin-top: 0px;
  font-style: oblique;
}

.weather-icon {
  height: 170px;
  width: 170px;
}

.day img {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.day .temp {
  font-size: 45px;
}

.inputs {
  display: flex;
  background-color: #69d9ff;
  width: fit-content;
  border-radius: 60px;
  padding: 20px;
  padding-right: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
  border-radius: 60px;
  height: 33px;
  border-style: none;
  margin-top: 15px;
}

.inputs p {
  margin-left: 20px;
  margin-right: 5px;
  font-size: 30px;
  margin-top: 15px;
}

button {
  border-radius: 60px;
  border-style: none;
  color: white;
  background-color: #065e79;
  font-size: 25px;
  height: 70px;
  width: 120px;
  margin-left: 10px;
}